<h1 class="page-header text-center"><b>Sign In</b></h1>
<div class="jumbotron" style="width:600px; margin-left:280px">
  <form class="form-signin" (submit)="onLoginSubmit()" style="width:200px; margin-left:170px">
    <fieldset class="col-md-12">
      <div class="form-group">
        <label for="Username"><i class="fa fa-address-card"></i> Username</label>
        <input type="text" class="form-control" placeholder="Enter Username" [(ngModel)]="username" name="username">
      </div><br />
      <div class="form-group">
        <label for="Password"><i class="fa fa-lock"></i> Password</label>
        <input type="password" class="form-control" placeholder=" Enter Password" [(ngModel)]="password" name="password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div><br />
      <input class="btn btn-primary" type="submit" value="Login" style="margin-left:50px">
    </fieldset>
  </form>  
  <div class="text-center">
    Don't have an account? <a class="alert-link" [routerLink]="['/register']">Sign Up</a>
  </div>
</div>
