<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/view/style/css/style.css">
</head>
<body>
<div>
    <form class="form-login">
        <div class="form-log-in-with-email">
            <div class="form-white-background">
                <div class="form-title-row">
                    <h1>Log in</h1>
                </div>

                <div class="form-row">
                    <label>
                        <span>UserName:</span>
                        <input type="text" name='username' placeholder="username" ng-model="login_data.username"/>
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>Password:</span>
                        <input type="password" name='password' placeholder="password" ng-model="login_data.password"/>
                    </label>
                </div>
                <div class="form-row">
                    <button type="button" ng-click="login()">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>